<a href="https://colab.research.google.com/github/nirjalalala/learn_ml/blob/main/Day_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas and Matplotlib**

##**Creating a Pandas Series**


---

Pandas series = 1-D array with labels

In [2]:
#first import the pandas module
import pandas as pd

In [3]:
scores = pd.Series([45,65,46,78,87], index =["Math","Science","English","History","Geography"])
print(scores)

Math         45
Science      65
English      46
History      78
Geography    87
dtype: int64

##**Creating a Pandas Dataframe**
---
Datframe is in a tabular format.

In [8]:
#Creating a dictionary
data = {
    "Name": ["John", "Jane", "Bob", "Alice"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Paris", "London", "Sydney"]
}
#Turning dictionary into dataframe
df = pd.DataFrame(data)

#printing the dataframe
print(df)

    Name  Age      City
0   John   25  New York
1   Jane   30     Paris
2    Bob   35    London
3  Alice   40    Sydney

# Some Solved Examples

1. Create a Pandas Series with values [10,20,30,40] and indices ["A","B","C","D"]. Print the series.

In [6]:
data = pd.Series([10,20,30,40],index=["A","B","C","D"])
print(data)

A    10
B    20
C    30
D    40
dtype: int64

2. Create a DataFrame with columns "City" ["Paris","Tokyo","Sydney"] and "Population" [2.1,37.4,5.3]). Print the Dataframe.

In [ ]:
data