<a href="https://colab.research.google.com/github/nirjalalala/learn_ml/blob/main/Day_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas and Matplotlib**

##**Creating a Pandas Series**


---

Pandas series = 1-D array with labels

In [2]:
#first import the pandas module
import pandas as pd

In [3]:
scores = pd.Series([45,65,46,78,87], index =["Math","Science","English","History","Geography"])
print(scores)

Math         45
Science      65
English      46
History      78
Geography    87
dtype: int64

##**Creating a Pandas Dataframe**
---
Datframe is in a tabular format.

In [11]:
#Creating a dictionary
data = {
    "Name": ["John", "Jane", "Bob", "Alice"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Paris", "London", "Sydney"]
}
#Turning dictionary into dataframe
df = pd.DataFrame(data)

print("With Index:")
#printing the dataframe
print(df)

print("\nWithout Index:")
#Printing the dataframe without index.
print(df.to_string(index=False))

With Index:
    Name  Age      City
0   John   25  New York
1   Jane   30     Paris
2    Bob   35    London
3  Alice   40    Sydney

Without Index:
 Name  Age     City
 John   25 New York
 Jane   30    Paris
  Bob   35   London
Alice   40   Sydney

##**Filtering a DataFrame**

In [12]:
filtered_df = df[df["Age"] > 30]
print(filtered_df)

    Name  Age    City
2    Bob   35  London
3  Alice   40  Sydney

#**Reading and Processing a CSV File**

In [17]:
#importing IO module
import io

#creating a csv file
csv_data = "Name,Age,City\nJohn,25,New York\nJane,30,Paris\nBob,35,London\nAlice,40,Sydney"

#creating a dataframe from the csv file
df = pd.read_csv(io.StringIO(csv_data))

print(df)

    Name  Age      City
0   John   25  New York
1   Jane   30     Paris
2    Bob   35    London
3  Alice   40    Sydney

# Some Solved Examples

1. Create a Pandas Series with values [10,20,30,40] and indices ["A","B","C","D"]. Print the series.

In [6]:
data = pd.Series([10,20,30,40],index=["A","B","C","D"])
print(data)

A    10
B    20
C    30
D    40
dtype: int64

2. Create a DataFrame with columns "City" ["Paris","Tokyo","Sydney"] and "Population" [2.1,37.4,5.3]). Print the Dataframe.

In [9]:
data = {
    "City": ["Paris","Tokyo","Sydney"],
    "Population": [2.1,37.4,5.3]
}
df = pd.DataFrame(data)

#Printing the dataframe without index.
print(df.to_string(index=False))

  City  Population
 Paris         2.1
 Tokyo        37.4
Sydney         5.3

3. Create a Dataframe with columns "Name" ["Eve","Frank","Grace"]) and "Age" [19,23,20].Filter rows where the age is greater than 20 and print the result.

In [16]:
data = {
    "Name": ["Eve","Frank","Grace"],
    "Age": [19,23,20]
}
df = pd.DataFrame(data)

filtered_df = df[df["Age"] > 20]
print(filtered_df.to_string(index=False))

 Name  Age
Frank   23

4. Simulate a csv string with columns "Product" ["Apple","Banana","Orange"] and "Price" [1.0, 0.5, 0.75]. Read it into a DataFrame and Print the sum of Prices.

In [18]:
csv_data = "Product,Price\nApple,1.0\nBanana,0.5\nOrange,0.75"

df = pd.read_csv(io.StringIO(csv_data))

#df["Price"]  selects "Price" column and sum() returns the sum of all rows.
sum_of_prices = df["Price"].sum()
print("Sum of Prices:", sum_of_prices)

Sum of Prices: 2.25