<a href="https://colab.research.google.com/github/nirjalalala/learn_ml/blob/main/Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Section 1**

##**Functions in Python**

In [ ]:
def area_of_square(len):
  return len*len
num = 5
print(f'Area of square with length {num} is {area_of_square(num)}')

Area of square with length 5 is 25

In [ ]:
def area_of_circle(radius):
  return 3.14 * radius *radius

r=5
print(f'Area of circle with length {r} is {area_of_circle(r)}')

Area of circle with length 5 is 78.5

##**Lists in python**

It is suggested to run the following code blocks in sequential order just once.

In [1]:
#Create a list of fruits
fruits = ["apple","banana","cherry","dragonfruit"]

In [2]:
#Accessing elements
print(fruits[0])  #first
print(fruits[3])  #fourth
print(fruits[-1]) #last
print(fruits[-2]) #second last

apple
dragonfruit
dragonfruit
cherry

In [3]:
#Adding elements in the list
fruits.append("Fig")
print(fruits)
fruits.insert(4,"Elderberry")
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'Fig']
['apple', 'banana', 'cherry', 'dragonfruit', 'Elderberry', 'Fig']

In [4]:
#Updating an element in the list
fruits[0] = "Avocado"
print(fruits)

['Avocado', 'banana', 'cherry', 'dragonfruit', 'Elderberry', 'Fig']

In [5]:
#Removing elements in the list
fruits.remove("Fig")
print(fruits)
del fruits[-1]
print(fruits)

fruits.clear()
print(fruits)

['Avocado', 'banana', 'cherry', 'dragonfruit', 'Elderberry']
['Avocado', 'banana', 'cherry', 'dragonfruit']
[]

#**Sets in Python**
Unordered collection of unique data i.e. same data is not repeated in set.

In [7]:
#create a new set
numbers = set()
#add new item to set
numbers.add("one")
numbers.add("two")
numbers.add("three")
numbers.add("four")
print(numbers)

{'three', 'four', 'two', 'one'}

In [9]:
#another way to initialize a new set
Numbers = {"one","two","three","four"}
print(Numbers)

{'three', 'four', 'two', 'one'}

In [10]:
#remove an item from a set
numbers.remove("one")
#generates an error if the item doesn't exist in the set.
print(numbers)

{'three', 'four', 'two'}

In [14]:
numbers.discard("two")
#doesn't generate an error if the item doesn't exist in the set.
print(numbers)

set()

In [13]:
#clear set
numbers.clear()
print(numbers)

set()

####Set Operations

In [16]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a|b) #union
print(a&b) #intersection
print(a-b) #difference
print(a^b) #union-intersection i.e. items that appear in only one of the two sets.
print(a.issubset(b)) #check if a is subset of b
print(a.issuperset(b)) #check if a is superset of b

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
False
False

##**Dictionary in Python**

In [19]:
#creating a dictionary

student= {
'name' : "nirjala",
'age' : 21,
'course' : 'cs'
}

#accessing values of particular key
print(student["name"])
#we can also use get method to safely get the value by key
print(student.get("name"))

nirjala
nirjala
ai
dict_items([('name', 'nirjala'), ('age', 21), ('course', 'ai'), ('id', 1)])
dict_items([('name', 'nirjala'), ('age', 21), ('id', 1)])

In [20]:
#updating values of particular key
student["course"] = 'ai'
print(student["course"])

#creating new key-value pair
student["id"] = 1
print(student.items())

#removing an item from dictionary
del student["course"]
print(student.items())

ai
dict_items([('name', 'nirjala'), ('age', 21), ('id', 1), ('course', 'ai')])
dict_items([('name', 'nirjala'), ('age', 21), ('id', 1)])

In [17]:
#get all keys
print(student.keys())
#get all values
print(student.values())

dict_keys(['name', 'age', 'id'])
dict_values(['nirjala', 21, 1])

In [18]:
#get all key-value pairs
print(student.items())

dict_items([('name', 'nirjala'), ('age', 21), ('id', 1)])